* {
    margin: 0;
    padding: 0;
  }
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .heeder {
      font: bolder;
      font-size: larger;
      margin-top: 500px;
      margin-bottom: 100pt;
      margin-right: 50px;
      margin-left: 10px;
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 100px;
  }
.h_four{
    color: red;
    padding: 30px;
}

  .time{
      color: rgb(255, 0, 0);
      font-size: medium;
      padding: 60px;
      margin-left: 40px;
      
  }

  .left{
      border: 1px solid black;
      flex-grow: 5;
      padding: 20px;
  }

  .right{
    border: 1px solid rgb(0, 0, 0);
    flex-grow: 5;
    padding: 20px;
}

.right_side{
    flex-grow: 2;
    background-color: yellow;
    margin-left: 10px;
}

.flex-container {
    display: flex;
    padding: 20px;
  }

  /* Css for Header */
  .topnav {
    overflow: hidden;
    /* background-color: #e9e9e9; */
  }
  
  .topnav a {
    float: left;
    display: block;
    /* color: black; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 2px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }